<div class="bottom-appbar position-fixed bottom-0 start-0 w-100">

    <ion-modal #modal trigger="trigger-button" class="nav" [initialBreakpoint]="0.17" dir="rtl">
        <ng-template>
            <ion-content >
                <ion-list>
                    <ion-item>
                        <ion-avatar slot="start">
                            <ion-icon name="home-outline"></ion-icon>
                        </ion-avatar>
                        <ion-label slot="start">
                            <h2>اطلب عقارك</h2>
                            <p>قدم طلبك وسيتواصل معك العقاريون</p>
                        </ion-label>
                    </ion-item>
                    <ion-item>
                        <ion-avatar slot="start">
                            <ion-icon name="create-outline"></ion-icon>
                        </ion-avatar>
                        <ion-label slot="start">
                            <h2>أضف اعلانك</h2>
                            <p>اعرض عقارك للبيع او الايجار</p>
                        </ion-label>
                    </ion-item>
                </ion-list>
            </ion-content>
        </ng-template>
    </ion-modal>

    <div class="tabs d-flex h-100">
        <div class="tab d-flex justify-content-center align-items-center h-100 bg-white is-active tab-start d-flex">
            <div class="bg-white w-100 h-100 d-flex justify-content-center align-items-center bg-transparent">
                <button class="d-flex flex-column align-items-center bg-transparent" routerLink="/home/announcements"
                    id="announcement" (click)="onButtonClick()">
                    <ion-icon name="albums-outline" routerLinkActive="text-warning"></ion-icon>
                    <p class="mb-0">الاعلانات</p>
                </button>
            </div>
            <div class="bg-white w-100 h-100 d-flex justify-content-center align-items-center bg-transparent">
                <div class=" notification position-relative" [class.notification]="isThereNotification">
                    <button class="d-flex flex-column align-items-center bg-transparent" id="chat"
                        routerLink="/home/chats" (click)="isThereNotification = false">
                        <ion-icon name="chatbox-outline" routerLinkActive="text-warning"></ion-icon>
                        <p class="mb-0">المحادثات</p>
                    </button>
                </div>
            </div>
        </div>
        <div
            class="tab d-flex justify-content-center align-items-center h-100 tab--fab border-0 d-flex bg-transparent h-100 bg-white h-100">
            <button class="top w-100 h-50 bg-transparent" id="trigger-button">
                <div
                    class="fab bg-warning rounded-circle d-flex justify-content-center align-items-center text-white fw-bold">
                    <ion-icon name="add-outline" class="h1 fw-bold"></ion-icon>
                </div>
            </button>
        </div>
        <div class="tab d-flex justify-content-center align-items-center h-100 bg-white tab-end">
            <div class="bg-white w-100 h-100 d-flex justify-content-center align-items-center bg-transparent">
                <button class="d-flex flex-column align-items-center bg-transparent" routerLink="/home/orders">
                    <ion-icon name="bag-add-outline" routerLinkActive="text-warning"></ion-icon>
                    <p class="mb-0">طلباتي</p>
                </button>
            </div>
            <div class="bg-white w-100 h-100 d-flex justify-content-center align-items-center bg-transparent">
                <button class="d-flex flex-column align-items-center bg-transparent" routerLink="/home/main"
                    (click)="navigate()">
                    <ion-icon name="home-outline" routerLinkActive="text-warning"></ion-icon>
                    <p class="mb-0">الرئيسية</p>
                </button>
            </div>
        </div>
    </div>
</div>