<ion-content [fullscreen]="true">
    <div class="main min-vh-100">
        <!-- <div class="position-fixed bottom-0 start-0 bg-danger w-100">
            <ul class="d-flex justify-content-between align-items-center mb-0 ion-padding">
                <li>
                    <i class="fa-solid fa-outdent"></i>
                </li>
                <li>
                    <i class="fa-regular fa-message"></i>
                </li>
                <li
                    class="middle d-flex justify-content-center align-items-center rounded-circle bg-warning position-relative">
                    <i class="fa-solid fa-plus"></i>
                </li>
                <li>
                    <i class="fa-solid fa-square-plus"></i>
                </li>
                <li>
                    <i class="fa-solid fa-house"></i>
                </li>
            </ul>
        </div> -->
        <!-- <div class="position-fixed bottom-0 start-0 bg-transparent w-100">
            <ul class="d-flex justify-content-between align-items-center mb-0 p-0">
                <li class="bg-white w-100 h-100 d-flex justify-content-center align-items-center">
                    <i class="fa-solid fa-outdent"></i>
                </li>
                <li class="bg-white w-100 h-100 d-flex justify-content-center align-items-center">
                    <i class="fa-regular fa-message"></i>
                </li>
                <li class="w-100 h-100 d-flex justify-content-center align-items-center bg-transparent position-relative brdr">
                    <div class="position-absolute"></div>
                    <div
                        class="center d-flex justify-content-center align-items-center rounded-circle bg-warning position-relative">
                        <i class="fa-solid fa-plus"></i>
                    </div>
                </li>
                <li class="bg-white w-100 h-100 d-flex justify-content-center align-items-center">
                    <i class="fa-solid fa-square-plus"></i>
                </li>
                <li class="bg-white w-100 h-100 d-flex justify-content-center align-items-center">
                    <i class="fa-solid fa-house"></i>
                </li>
            </ul>
        </div> -->
        <div class="wrapper">
            <div class="page">
                Body
            </div>
            <div class="bottom-appbar">
                <div class="tabs">
                    <div class="tab is-active tab--left">
                        💬
                        <span>Chat</span>
                    </div>
                    <div class="tab tab--fab">
                        <div class="top">
                            <div class="fab">
                                +
                            </div>
                        </div>
                    </div>
                    <div class="tab tab--right">
                        ❤️️
                        <span>Favourites</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</ion-content>

<!-- <ion-row class="d-flex justify-content-between align-content-center">
      <ion-col class="w-100 d-flex p-3 justify-content-center" size="2">
        <i class="fa-solid fa-outdent"></i>
      </ion-col>
      <ion-col class="w-100 d-flex p-3 justify-content-center" size="2">
        <i class="fa-regular fa-message"></i>
      </ion-col>
      <ion-col class="w-100 d-flex justify-content-center porition-relative" size="4">
        <div class="add rounded-circle d-flex justify-content-center align-items-center ion-padding">
          <i class="fa-solid fa-plus"></i>
        </div>
      </ion-col>
      <ion-col class="w-100 d-flex p-3 justify-content-center" size="2">
        <i class="fa-solid fa-square-plus"></i>
      </ion-col>
      <ion-col class="w-100 d-flex p-3 justify-content-center" size="2">
        <i class="fa-solid fa-house"></i>
      </ion-col>
    </ion-row> -->