<ion-content [fullscreen]="true">
    <div class="main min-vh-100">
        <div class="position-fixed bottom-0 start-0 bg-danger w-100">
            <ul class="d-flex justify-content-between align-items-center mb-0 ion-padding">
                <li>
                    <i class="fa-solid fa-outdent"></i>
                </li>
                <li>
                    <i class="fa-regular fa-message"></i>
                </li>
                <li
                    class="middle d-flex justify-content-center align-items-center rounded-circle bg-warning position-relative">
                    <i class="fa-solid fa-plus"></i>
                </li>
                <li>
                    <i class="fa-solid fa-square-plus"></i>
                </li>
                <li>
                    <i class="fa-solid fa-house"></i>
                </li>
            </ul>
        </div>
    </div>
</ion-content>

<!-- <ion-row class="d-flex justify-content-between align-content-center">
      <ion-col class="w-100 d-flex p-3 justify-content-center" size="2">
        <i class="fa-solid fa-outdent"></i>
      </ion-col>
      <ion-col class="w-100 d-flex p-3 justify-content-center" size="2">
        <i class="fa-regular fa-message"></i>
      </ion-col>
      <ion-col class="w-100 d-flex justify-content-center porition-relative" size="4">
        <div class="add rounded-circle d-flex justify-content-center align-items-center ion-padding">
          <i class="fa-solid fa-plus"></i>
        </div>
      </ion-col>
      <ion-col class="w-100 d-flex p-3 justify-content-center" size="2">
        <i class="fa-solid fa-square-plus"></i>
      </ion-col>
      <ion-col class="w-100 d-flex p-3 justify-content-center" size="2">
        <i class="fa-solid fa-house"></i>
      </ion-col>
    </ion-row> -->